.card {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  position: relative;
  width: calc(100% / 5);
  height: 200px;
  margin: 10px;
  padding: 5px 15px;
  background-color: transparent;
  border-radius: 14px;
  color: #fff;
  box-shadow: 0px 0px 0px 2px #ffffff3f;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;

  &.hide {
    opacity: 0;
    transform: scale(0.9);
  }

  h2 {
    font-size: 18px;
    width: 100%;
  }

  img {
    width: 75px;
    height: 75px;
    object-fit: contain;
  }

  .choice {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: all 0.5s ease;
    transform-origin: top;
    transform: rotate(0deg);
    // animation: fillSvg 1s ease 0s 1 alternate none;

    & path {
      transition: all 0.5s ease;
      fill: transparent;
      stroke: #fff; 
      stroke-width: 2;
      // animation: fillSvg 5s ease 0s 1 alternate none;
    }
    
    &:hover path {
      fill: #248a52;
    }
    &.active path {
      fill: #248a52;
      // animation: fillSvg 5s ease 0s 1 alternate none;
    }

    &:hover {
      animation: fillSvg 0.3s ease 0s 2 alternate none running;
    }

  }
}

@keyframes fillSvg {
  0% {
    transform: rotate(6deg);
  }

  80% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}