.wrapper {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #fff;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
}

.test {
  width: 200px;
}

.test::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  pointer-events: all;
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: inset 0px 0px 0px 2px rgb(49, 49, 49);
  border-radius: 50%;
  cursor: pointer;
}

.textInput1::-webkit-slider-thumb {
  margin-left: -5px;
}
.textInput2::-webkit-slider-thumb {
  margin-left: 5px;
}

.test::-moz-range-thumb {
  pointer-events: all;
}

.test::-ms-thumb {
  pointer-events: all;
}