i {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #fff;
  animation: fall linear forwards;
  top: -20px;
  pointer-events: none;
  z-index: 1000;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}