.tree--view {
  min-width: 1440px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 70px;
  gap: 40px;
  overflow-y: scroll;
  transition: opacity 0.3s ease;

  &::-webkit-scrollbar {
    opacity: 0;
    width: 7px;
  }

  &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.22);
  }
    
  &::-webkit-scrollbar-thumb {
      width: 75px;
      background: #1A936F;
  }
}

.tree--tree-view {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #000;
}

.tree--filters-button {
  width: calc(100% / 2 - 20px);
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(5px);
  border-radius: 14px;
  border: 2px solid rgba(255, 255, 255, 0.404);
  overflow: hidden;
  padding: 5px 25px;
}

.tree--filters-button.used {
  width: 100%;
}

.tree--filters-heading {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  margin: 10px 0 0 0;
}

.map-field {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 600px;
  min-height: 720px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 3px solid rgba(0, 0, 0, 0.404);
  border-radius: 14px;

  img {
    border-radius: 14px;
    user-select: none;
  }
}

.tree--filters {
  flex-basis: 400px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(255, 255, 255, 0.404);

  &-tree__cell {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    transition: box-shadow 0.5s ease;

    &:hover {
      box-shadow: inset 0px 0px 3px #fff;
    }
  }

  &-background__cell {
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    transition: box-shadow 0.5s ease;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.404);
      box-shadow: inset 0px 0px 10px #000;
    }
  }
}

.garland-color {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.flex-container {
  display: flex;
  // width: 300px;
  flex-wrap: wrap;
  gap: 20px;
}

.tree--toys-container {
  margin-top: 20px;
  max-width: 400px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tree--filters-container {
  max-width: 400px;
  gap: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tree--toy-cell {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.151);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.404);
  border-radius: 14px;
}

.tree--toys-count {
  position: absolute;
  top: 3px;
  left: 3px;
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: #7765e3;
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
}

.drag-image {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  transform: translate(10px, 8px);
}